<% include layout %>
<head>
   <style>
     p{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 15;
     }
    
   </style>
</head>
<body>
  <div class="col-lg-8 col-lg-offset-2">
     <h2>About</h2>
     <p>
            The Manubolu Hospitals Group is a multispecialty healthcare provider, with 140 hospitals serving 25 states across USA.</p>
     <p>              Adopting a service-oriented delivery model, Manubolu Hospitals provides cost-effective medical care, with an uncompromising commitment to its core purpose, “To provide care that people trust.” </p>
     <p>             Today the Manubolu Hospitals Group comprises 14 multi superspecialty hospitals offering comprehensive patient-focused care, with state-of-the-art infrastructure, medical equipment and facilities, complemented by globally trained and experienced doctors and professional support staff, available 24*7. </p>
<P>Manubolu Hospitals is a complete healthcare ecosystem, with related components of education/training and research, pursuing innovations that make healthcare more affordable. A network of telemedicine hubs in rural Andhra Pradesh and Maharashtra deliver care at the doorstep to lakhs of people. These activities are managed by its partner CARE Foundation.</P>
<p>Manubolu Hospitals continually updates medical knowledge and puts it into practice — taking innovations from the bench to the bedside. The Group has a rigorous Clinical Research programme (certified by the Drugs Controller General of India), with advanced infrastructure and trained resources to conduct clinical trials in the areas of drug and medical device development. Both pioneering original research and sponsored clinical trials are conducted at several hospitals and over 40 studies are under way, at any given time.</p>


  </div>

</body>