<!doctype>

<html>
<head>
  <title>Manubolu Hospitals || SignUp</title>
  
    <link href="../../css/styles.css" rel="stylesheet" />
    <link href="../../css/bootstrap.css" rel="stylesheet" />
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
     <link href="../../js/bootstrap.min.js" rel="stylesheet" />
     <script src="../../js/jquery-3.2.1.js"></script>
     
    <style>
     strong{
      font-size: 25;
      font-style: italic ;
      text-decoration: underline;
     }
     </style>

</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Manubolu Hospitals</a>
    </div>
</div>
</nav>

  <html>
  

<form class="form-horizontal col-lg-offset-2" method='POST' action='/users/logout'>
  <fieldset>
    <div class="form-group">
      
      <div class="col-lg-10">
        <h2>You are Logged Out..!! Thanks for Visit</h2>
       </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-4"></br>        
        <a class="btn btn-primary" href="/users/login">Re-Login</a>
      </div>
    </div>
  </fieldset>
</form>
</html>